In [28]:
import pandas as pd

df = pd.read_parquet('df.parquet')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27584 entries, 一 to 䶿
Data columns (total 44 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   jd_strokes                   27584 non-null  int32
 1   jd_grade                     27584 non-null  int32
 2   jd_freq                      27584 non-null  int32
 3   jd_jlpt                      27584 non-null  int32
 4   jd_jap_on                    27584 non-null  object
 5   jd_jap_kun                   27584 non-null  object
 6   jd_pinyin                    27584 non-null  object
 7   jd_kor_r                     27584 non-null  object
 8   jd_kor_h                     27584 non-null  object
 9   jd_viet                      27584 non-null  object
 10  jd_nanoris                   27584 non-null  object
 11  jd_romaji_on                 27584 non-null  object
 12  jd_romaji_kun                27584 non-null  object
 13  kCantonese                   25390 non-null  object
 14  kGradeLevel                  2632 non-null   object
 15  kKorean                      8762 non-null   object
 16  kTraditionalVariant          2779 non-null   object
 17  kCheungBauer                 506 non-null    object
 18  kHDZRadBreak                 200 non-null    object
 19  kMandarin                    26676 non-null  object
 20  kVietnamese                  4063 non-null   object
 21  kHKGlyph                     4823 non-null   object
 22  kOtherNumeric                23 non-null     object
 23  kXHC1983                     10685 non-null  object
 24  kHangul                      8195 non-null   object
 25  kPhonetic                    15850 non-null  object
 26  kRSUnicode                   27584 non-null  object
 27  kZVariant                    120 non-null    object
 28  kDefinition                  20606 non-null  object
 29  kHanyuPinlu                  3799 non-null   object
 30  kPrimaryNumeric              20 non-null     object
 31  kSemanticVariant             3245 non-null   object
 32  kFenn                        5023 non-null   object
 33  kHanyuPinyin                 20023 non-null  object
 34  kSimplifiedVariant           5587 non-null   object
 35  kSpecializedSemanticVariant  507 non-null    object
 36  kAccountingNumeric           25 non-null     object
 37  kFourCornerCode              16720 non-null  object
 38  kJapaneseKun                 11253 non-null  object
 39  kTang                        3799 non-null   object
 40  kCangjie                     27525 non-null  object
 41  kFrequency                   5089 non-null   object
 42  kJapaneseOn                  13134 non-null  object
 43  kTotalStrokes                27584 non-null  object
dtypes: int32(4), object(40)
memory usage: 9.0+ MB

In [38]:
df['jd_romaji_kun']


'to.ru'.translate(exclude)

'to.ru'

In [40]:
ord('d')

100

In [52]:
exclude = {ord(x): None for x in '..,-/ ,'}
results_kun = df[df['jd_romaji_kun'].apply(lambda x: 'toru' in [s.translate(exclude) for s in x])]
results_on = df[df['jd_romaji_on'].apply(lambda x: 'toru' in [s.translate(exclude) for s in x])]

chars_to_return = ''.join(list(pd.concat([results_kun, results_on]).sort_values(['jd_freq', 'jd_grade']).index))
chars_to_return

'取録捕採執撮摂采攝丮侔墍寽抍抾捋捎捔揓揜揷搏搴摣摻撏撨擥攈攏攓攟攬秉緶詵釆鍩'